{% extends "EntretienNewsBundle::layout.html.twig" %}


{% block title %}

  {{ 'advert.delete.title'|trans }} - {{ parent() }}

{% endblock title %}

{% block entretiennews_body %}

	<h2>{{ 'advert.delete.title'|trans }}</h2>

	<hr/>

	<p>{{ 'advert.delete.intro'|trans }}</p>

{% endblock entretiennews_body %}