{% extends "::layout.html.twig" %}

{% block title %}

  News - {{ parent() }}

{% endblock title %}

  {% block body %}

  <h1>News</h1>

  <hr/>

  {% block entretiennews_body %}
  {% endblock entretiennews_body %}

{% endblock body %}